@font-face {
    font-family: Open;
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
body {
    background-color: #E5E5E5;
    font-family: Open;
}
.container-header {
    position:absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
}
.container-header img {
    padding-left: 140px;
    padding-top: 15px;
}
.menu {
    list-style:none;
    float:right;
    padding-top: 15px;
    padding-right: 140px;
}

.menu li {
    position: relative;
    float: left;

}
.menu li a{
    font-size: 16px;
    color:#222222; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;

}
section {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 1024px;
}
main {
    flex: 1;
}
section nav {
    position: relative;
    width: 730px;
    height: 696px;
    left: 140px;
    top: 126px;
    right: 50px;
    background-color: #FFFFFF;

}
section nav h1 {
    font-family: OpenSans-Bold;
    font-size: 24px;
    padding-top: 24px;
    padding-left: 30px;

}
.creator {
    font-size: 12px;
}
section nav img {
    margin-top: 10px;
}
section nav p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
    color: #545454;
}
section button {
    margin-right: 30px;
    border-radius: 60px;
    border-color: #FE0078;
    border-style: solid;
    float: right;
    background-color: white;
    width: 154px;
    height: 43px;
    color: #545454;
    font-size: 14px;
    
}
aside {
    padding-top: 24px;
    padding-right: 140px;
    padding-left: 50px;
    height: 380px;
    width: 100px;
}
footer {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 2358px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;

}
