* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  all: unset;
  color: #545454;
}

a:visited {
  text-decoration: none;
}

header, menu, .card {
  /* all: unset; */
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

header, footer, main {
  width: 100%;
}

header {
  height: 70px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 45px;
  width: 220px;
  align-items: center;
  margin-left: 140px;
}

.abas {
  font-size: 14px;
  flex-basis: 220px;
  display: flex;
  justify-content: space-between;
  margin-right: 170px;
  box-sizing: border-box;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
}

.texto {}

.textoPost {
  margin: 0 0 45px 0;
  padding: 0 0 45px 0;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0 120px;
  justify-content: space-evenly;
}

.card {
  min-height;
  width: 730px;
  font-size: 16px;
  /* text-align: left; */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0 0 40px 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
  margin: 24px 0 0 24px;
  font-family: Open Sans;
  text-align: left;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 0 24px;
  font-family: Open Sans;
  text-align: left;
}

.dataAutoria {
  font-size: 12px;
  color: #929292;
  margin: 8px 0 14px 24px;
}

main img {
  width: 730px;
  height: 350px;
}

.texto {
  margin: 24px 24px 0 24px;
  color: #545454
}

.button {
  color: #545454;
  outline: none;
  background: #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 155px;
  border-radius: 20px;
  border: 1px Solid #FE0078;
  align-self: flex-end;
  margin: 24px;
  padding: 12px 24px;
}

.button:hover {
  color: #FFFFFF;
  background: #FE0078;
}

.linkContinuarLendo {
  margin-left: auto;
}

.tituloComentarioPost {
  font-size: 24px;
  font-weight: 700;
  font-weight: bold;
  margin: 15px 0 24px 0;
  font-family: Open Sans;
  text-align: left;
  padding: 0;
}

.campoNomeComentarioPost {
  width: 354px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoNomeComentarioPost:hover {
  border: 1px solid #FE0078;
}

.campoNomeContato {
  width: 330px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoNomeContato:hover {
  border: 1px solid #FE0078;
}

.campoEmailComentarioPost {
  width: 354px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoEmailComentarioPost:hover {
  border: 1px solid #FE0078;
}

.campoEmailContato {
  width: 330px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoEmailContato:hover {
  border: 1px solid #FE0078;
}

.campoComentarioPost {
  width: 732px;
  height: 176px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoComentarioPost:hover {
  border: 1px solid #FE0078;
}

.campoComentarioContato {
  width: 680px;
  height: 176px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoComentarioContato:hover {
  border: 1px solid #FE0078;
}

.campoAssuntoContato{
  width: 680px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
}

.campoAssuntoContato:hover {
  border: 1px solid #FE0078;
}

.comentarioBlocoPaiPost {
  width: 730px;
  display: flex;
  justify-content: space-between;
}

.comentarioBlocoPaiContato {
  width: 680;
  display: flex;
  justify-content: space-between;
}

.blocoNomeComentarioPost {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocoNomeContato {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.blocoEmailComentarioPost {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocoEmailContato {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocoComentarioPost {
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.blocoComentarioContato {
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.blocoBotaoPost {
  display: flex;
  justify-content: flex-end;
}

.blocoBotaoContato {
  display: flex;
  justify-content: flex-end;
}

.botaoComentarioPost {
  color: #FFFFFF;
  outline: none;
  background: #FE0078;
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 155px;
  border-radius: 20px;
  border: 1px Solid #FE0078;
  align-self: flex-end;
  margin: 45px 0 90px 0;
  padding: 12px 24px;
}

.botaoComentarioPost {
  color: #FFFFFF;
  outline: none;
  background: #FE0078;
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 155px;
  border-radius: 20px;
  border: 1px Solid #FE0078;
  align-self: flex-end;
  margin: 45px 0 90px 0;
  padding: 12px 24px;
}

menu {
  min-width;
  min-height;
  margin: 50px 140px 0 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.campoPesquisa {
  font-size: 14px;
  color: #545454;
  width: 340px;
  padding: 16px 20px;
  margin: 20px 10px 30px 10px;
  border-radius: 10px;
  border: 1px solid #EEEEEE;
  outline: none;
}

.campoPesquisa:hover {
  border: 1px solid #FE0078;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  border-left: 2px Solid #FE0078;
  padding: 0 0 0 10px;
  margin: 0 0 0 20px;
}

.categorias {}

.categoriasLista {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.categoria {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 15px;
  border-bottom: 2px dotted #eeeeee;
  margin: 0 20px 0 20px;
}

.categoria:hover {
  border-bottom: 2px dotted #FE0078;
  color: #FE0078;
}

.publicidade {}

.molduras {}

.moldura {
  width: 340px;
  height: 240px;
  background-color: #EEEEEE;
  margin: 15px 20px;
  font-size: 36px;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #FFFFFF;
  background-color: #222222;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}